<%= content_for(:navbar_class, "navbar-home") %>
<% content_for :logo do %>
  <%= image_tag "logo.png" %>
<% end %>
<div class="banner">
  <div class="banner-content text-center">
    <h1>Corporate innovation on demand</h1>
    <p> Identify the best startups for your corporate innovation challenges</p>
    <button class="btn btn-lg btn-flat btn-banner">Get started</button>
  </div>
</div>
<section class="how-it-works-section">
  <div class="container">
    <div class="section-content">
      <h5 class="section-title mb-5 pb-3">It only takes 3 steps to find the most suitable startups</h5>
    </div>
    <div class="sub-sections">
      <div class="row">
        <div class="col-md-4">
          <div class="sub-section pt-5">
            <i class="fas fa-rocket"></i>
            <div>
              <h5 class="subtitle subtitle-sub-section">1. Tell us about an innovation challenge you want to solve
              </h5>
              <p>We keep your company details absolutely confidential</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sub-section pt-5">
            <i class="fas fa-search-location"></i>
            <div>
              <h5 class="subtitle subtitle-sub-section">2. We look for the best startups who can solve for the challenge</h5>
              <p>
                Include any search or startup criteria you want</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="sub-section pt-5">
            <i class="fas fa-list-alt"></i>
            <div>
              <h5 class="subtitle subtitle-sub-section">3. You get a curated list of startups with key POC-related information </h5>
              <p>
                Startups respond to the challenge with their most up to date information</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="challenge-form special">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="challenge-form-card">
          <div class="logo d-flex justify-content-around">
            <%= image_tag "logo_blue.png", class: "pb-4" %>
          </div>
          <h5 class="form-title">Submit your innovation challenge here</h5>
          <h5>We will send you a curated list of startups within 2-3 business days</h5>
          <%= simple_form_for Corporate.new, :url => proposals_path do |f| %>
            <p>1. Your details -we will keep these confidential</p>
            <div class="form-row">
              <div class="col-md-6">
                <%= f.input :name, label: false, placeholder: "Name" %>
              </div>
              <div class="col-md-6">
                <%= f.input :surname, label: false, placeholder: "Surname" %>
              </div>
            </div>
            <%= f.input :email, required: true, label: false, placeholder: "Email" %>
            <div class="form-row">
              <div class="col-md-6">
                <%= f.input :job_title, label: false, placeholder: "Job title" %>
              </div>
              <div class="col-md-6">
                <%= f.input :company_name, required: true, label: "Company name", label: false, placeholder: "Company name"  %>
              </div>
            </div>
            <%= f.input :company_industry, required: true, collection: industries, label: false, prompt: "Select industry"  %>
            <p class="pt-3">2. Innovation challenge info</p>
            <%= simple_fields_for :challenges do |p| %>
              <%= p.input :description, required: true, as: :text, input_html: {rows: 5, cols: 5} ,label: false, placeholder: "Please describe your innovation challenge" %>
              <%= p.input :location, as: :text, label: false, placeholder: "Are you looking for startups that can run a proof of concept in a particular location?" %>
              <%= p.input :search_criteria, as: :text, label: false, placeholder: "Are there any other startup search criteria you want to apply?" %>
            <% end %>
            <div class="d-flex justify-content-around">
              <%= f.submit "Submit", class: "btn btn-lg btn-flat" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>