<%= content_for(:navbar_class, "navbar-home") %>
<%= render 'shared/banner_challenge', challenge: @challenge %>
<div class="row">
  <div class="col-sm-8 offset-sm-2 d-flex justify-content-around">
    <div class="startup-card">
      <div class="challenge-form-card challenge-form">
        <div class="logo d-flex justify-content-around">
          <%= image_tag "logo_blue.png", class: "pb-4" %>
        </div>
        <h5 class="form-title">Respond to the challenge here!</h5>
        <h5>We will share the below details with the company who posted the challenge</h5>
        <%= simple_form_for Startup.new, :url => proposals_path do |f| %>
          <div class="form-row">
            <div class="col-md-6">
              <%= f.input :employee_name, label: false, placeholder: "Name" %>
            </div>
            <div class="col-md-6">
              <%= f.input :employee_surname, label: false, placeholder: "Surname" %>
            </div>
          </div>
          <%= f.input :employee_email, required: true, label: false, placeholder: "Email" %>
          <div class="form-row">
            <div class="col-md-6">
              <%= f.input :employee_job_title, label: false, placeholder: "Job title" %>
            </div>
            <div class="col-md-6">
              <%= f.input :name, required: true, label: "Company name", label: false, placeholder: "Company name"  %>
            </div>
          </div>
          <%= simple_fields_for :proposal do |p| %>
            <%= p.input :challenge_id, as: :hidden, input_html: { value: params[:id] } %>
            <%= p.input :usp, required: true, as: :text, input_html: {rows: 5, cols: 5} ,label: false, placeholder: "What sets you apart from your competitors?" %>
            <%= p.input :usp, required: true, as: :text, input_html: {rows: 5, cols: 5} ,label: false, placeholder: "4. How would a proof of concept look like? Please include any -technical or non-technical- requirements" %>
            <%= p.input :usp, required: true, as: :text, input_html: {rows: 5, cols: 5} ,label: false, placeholder: "5. Please provide examples of POCs you have run with other companies" %>
          <% end %>
          <%= f.input :photo, as: :file, label: "Attach pitch deck", class: "py-2" %>
          <div class="d-flex privacy">
            <%= f.input :privacy, as: :boolean, label: false do %>
              <%= f.check_box :privacy, {}, "true", "false" %>
            <% end %>
            <p>By submitting this form, I accept that my data may be used to respond to your research request. Check out our complete <%= link_to "Privacy Policy", privacy_pages_path %>. </p>
          </div>
          <div class="d-flex justify-content-around">
            <%= f.submit "Submit", class: "btn btn-lg btn-flat" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>